@tailwind base;
@tailwind components;
@tailwind utilities;

/* #102 Fixes jumping scrollbar */
/* https: //aykevl.nl/2014/09/fix-jumping-scrollbar */
html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

@layer base {
  body {
    @apply bg-gray-100;
  }
}
@layer utilities {
  .active {
    @apply bg-green-100;
  }
}
.css-1n5o7vh-diff-container pre {
  padding: 0 8px 0 0;
}
